@model IEnumerable<ClasePA.Models.Enrrollements>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


<table  class="table table-striped">

        <thead>
            <tr>
                  <th>Id de inscricion </th>
                <th>First name</th>
                <th>Course</th>
            </tr>

        </thead>

        <tbody>

        @foreach (var iterar in ViewBag.inner)
        {
            <tr>
                
                <td>@iterar.relacionId</td>
                <td>@iterar.NombreSt</td>
                 <td>@iterar.CusoNombre</td>

            </tr>    
        }

       @* @foreach(var iteracion in Model)
        {
            <tr>
                <td>@iteracion.EnrrollementId</td>
                <td>@iteracion.Student.FirsName</td>
                <td>@iteracion.Course.Title</td>
            </tr>
        }
        </tbody>*@
    
</table>